<!DOCTYPE html>
<html>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.0/pixi.min.js"></script>
        <script>
            /*
                Make pixi game
                1. Tilebased
                2. Move hero with WASD or arrow keys
                3. Prevent hero from moving into terrain it's not allowed on
                4. Prevent hero from moving onto other characters
            */
        </script>
    </body>
</html>
