<!DOCTYPE html>
<html>
    <body>








        <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.0/pixi.min.js"></script>
        <script>
            let app = new PIXI.Application({width: 256, height: 256});

            document.body.appendChild(app.view);

        </script>
    </body>
</html>
