<!DOCTYPE html>
<html>
    <head>
        <title>Pixi</title>
        <link rel="icon" href="https://pbs.twimg.com/profile_images/1103056143322996736/yFwE2PJv_400x400.png">
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.0/pixi.min.js"></script>
        <script>
            // for less typing, easier to edit later on if they have updates.
            let Application = PIXI.Application,
                loader = PIXI.loader,
                resources = PIXI.loader.resources,
                Sprite = PIXI.Sprite,
                Graphics = PIXI.Graphics;

            // creates canvas using pixi
            let app = new Application({
                width: 600,
                height: 600
            });

            // attaches canvas to body
            document.body.appendChild(app.view);

            let screenHeight = app.renderer.view.height;
            let screenWidth = app.renderer.view.width;

            // get the sprites
            loader
                .add([
                    "../public/images/golem.png",
                    "../public/images/cookie.png"
                    ])
                    .load(setup);

            const cookieWidth = 20;
            const cookieHeight = 20;

            let player;
            let cookie;
            let velX = 0;
            let velY = 0;
            let speed = 7;

            // keeps player in game screen
            let containPlayer = () => {
                if (player.x + player.width > screenWidth) {
                    player.x = screenWidth - player.width;
                    velX = 0;
                }
                if (player.x < 0) {
                    player.x = 0;
                    velX = 0;
                }
                if (player.y > screenHeight - player.height) {
                    player.y = screenHeight - player.height;
                    velY = 0;
                }
                if (player.y < 0) {
                    player.y = 0;
                    velY = 0;
                }
            };

            // player movement
            let movePlayer = (e) => {
                let value = e.keyCode;

                if (value == 65 && velX <= 0) {
                    velX = 0;
                    velY = 0;
                    velX -= speed;
                } else if (value == 68 && velX >= 0) {
                    velX = 0;
                    velY = 0;
                    velX += speed;
                } else if (value == 87 && velY <= 0) {
                    velX = 0;
                    velY = 0;
                    velY -= speed;
                } else if (value == 83 && velY >= 0) {
                    velX = 0;
                    velY = 0;
                    velY += speed;
                }
            };

            function spawnCookie(cookie) {
                let randomX = Math.random() * (screenWidth - cookieWidth);
                let randomY = Math.random() * (screenHeight - cookieHeight);
                cookie.x = randomX;
                cookie.y = randomY;
                cookie.width = cookieWidth;
                cookie.height = cookieHeight;
                app.stage.addChild(cookie);
            }

            function setup() {
                player = new Sprite(resources["../public/images/golem.png"].texture);
                player.width *= .6;
                player.height *= .6;
                cookie = new Sprite(resources["../public/images/cookie.png"].texture);

                spawnCookie(cookie);

                app.stage.addChild(player);
                app.stage.addChild(cookie);

                state = play;

                app.ticker.add(delta => gameLoop(delta));
            }

            function gameLoop(delta) {
                state(delta);
            }

            function play(delta) {
                player.x += velX;
                player.y += velY;
                containPlayer();

                // if there is collision...
                if (checkCollision(player, cookie)) {
                    let cookieWidth = cookie.width;
                    let cookieHeight = cookie.height;
                    cookie.destroy();

                    newCookie = new Sprite(resources["../public/images/cookie.png"].texture);
                    spawnCookie(newCookie);
                    cookie = newCookie;
                }
            }

            function checkCollision(rect1, rect2) {
                if (rect1.x < rect2.x + rect2.width &&
                    rect1.x + rect1.width > rect2.x &&
                    rect1.y < rect2.y + rect2.height &&
                    rect1.y + rect1.height > rect2.y) return true;
                return false;
            }

            window.addEventListener("keydown", (e) => movePlayer(e));
        </script>
    </body>
</html>
